{
    "env": { "browser": true },
    "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
    "ignorePatterns": ["dist/"],
    "parser": "@typescript-eslint/parser",

    "parserOptions": {
        "ecmaVersion": "latest",
        "project": "tsconfig.json"
    },

    "plugins": [
        "@typescript-eslint",
        "import",
        "jsx-a11y",
        "react",
        "react-hooks",
        "sort-imports-es6-autofix",
        "prettier"
    ],

    "rules": {
        "@typescript-eslint/ban-ts-comment": "warn",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/lines-between-class-members": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/no-shadow": "warn",
        "@typescript-eslint/no-unused-vars": "warn",
        "eqeqeq": "warn",
        "func-names": ["warn", "as-needed"],
        "import/first": "warn",
        "import/order": "off",
        "import/prefer-default-export": "off",
        "no-plusplus": "off",
        "no-shadow": "off",
        "no-void": "off",
        "object-curly-newline": ["warn", { "consistent": true }],
        "object-shorthand": "warn",
        "prefer-template": "warn",
        "prettier/prettier": "warn",
        "react-hooks/exhaustive-deps": "warn",
        "react-hooks/rules-of-hooks": "warn",
        "react/jsx-boolean-value": "warn",
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-sort-props": "warn",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "sort-imports-es6-autofix/sort-imports-es6": [
            "warn",
            {
                "ignoreCase": true,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
            }
        ],
        "no-restricted-imports": [
            "error",
            {
              "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
            }
          ]
    }
}
